'''This file contains the database connection settings to be used and 
   needs to be altered accordingly
'''

DATABASE_HOST = 'localhost'
DATABASE_USER = 'wikiwsd'
DATABASE_PASSWORD = 'wikiwsd'
DATABASE_NAME = 'wikiwsd'